# Python for Bid Data
### Summary
1. Variables
2. String
3. Funcion Print
4. Booleanos
5. Loops
6. Funciones
7. Manejo de Excepciones

In [ ]:
# Booleanos y Condicionales

edad = 18

In [ ]:
# Declaracion de Varialbes

edad_persona = 18
estado = "si"

In [ ]:
edad_persona

In [ ]:
estado

In [ ]:
# Interactuando con el Usuario
monto_interes = float(input("Ingrese el monto de interes: "))

In [ ]:
# Operando con una Variable
resultado = edad_persona * 10

In [ ]:
# Mostrar Variable
resultado

In [ ]:
# Conocer tipo de Variable
tyoe(resultado)

In [ ]:
type(estado)

In [ ]:
# Operando varialbe
25 * resultado

In [ ]:
# Cambiando Tipo de Variable
str_resultado = str(resultado)
str_resultado

In [ ]:
int_resultado = int(str_resultado)
int_resultado

# 2. String

In [ ]:
# Concatenar String
"a" + "b"

In [ ]:
# Comillas Simples o Dobles
text_1 = "Mi primer texto"
text_2 = 'Mi segundo texto'

In [ ]:
text_1

In [ ]:
text_2

In [ ]:
# Comillas tripes
text_3 = """
Select * from Usuarops
Where id = 25
Group By a√±o
"""
text_3

In [ ]:
# Operaciones String
text_1 = 'Hello World'
text_2 = '5'
text_3 = 'cinco'

In [ ]:
text_1.capitalize()

In [ ]:
text_3.upper()